.login-features{
    background-color: lightblue;
    width: 70%;
    padding-left: 25%;
    padding-right: 25%
}
input{
    width: 100%;
    height: 100%;
}
h2{
    padding-left: 25%;
    padding-right: 25%}
html{
    background-color: lightcoral;
}